@import url('font.css');

body {
    margin: 0;
    padding: 0;
    background-color: #08052B;
}

a {
    text-decoration: none;
    color: white;
    align-items: center;
}

header {
    padding: 1.5%;
    background-color: transparent;
    border-bottom: 0.5px solid grey;
    color: #fff;
    justify-content: space-between;
    
}

header h1 {
    text-decoration: none;
    color: white;
    margin: 0;
    font-family: 'RBold', 'Times New Roman', Times, serif;
    font-size: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}
/* background-color: rgba(13,9,56, 0.5); */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    /* white-space: nowrap; */
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

nav ul::-webkit-scrollbar {
    display: none;
}

nav ul li {
    margin-right: 0.7em;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'RLight', 'Times New Roman', Times, serif;
    font-size: 90%;
    transition: .5s;
    display: inline-block;
    scroll-snap-align: center;
}


footer {
    /* grid-column: 1 / -1; */
    padding: 0.7em;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container img {
    width: 300px;
    height: 300px;
} 

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Prend 100% de la hauteur de la fenêtre */
    position: relative; 
}

.container img {
    position: absolute;
}


/* sun */
#soleilPicture { 
    width: 15%; /* 200px au lieu d'env 300px */
    height: auto;
    left: 43%;
    top: 10%;
}

#soleilPicture:hover {
    width: 16%;
}

#mercurePicture, #venusPicture, #terrePicture, 
#marsPicture, #jupiterPicture, #saturnePicture, 
#uranusPicture, #neptunePicture, #soleilPicture {
    height: auto;
    transition: .5s;
}


#mercurePicture, #venusPicture, #marsPicture {
    width: 7%;
}

/* mercury */ 
#mercurePicture {
 /* 30px au lieu de 50px*/
    right: 30%;
    top: 20%;
 }

#mercurePicture:hover {
    width: 4%;
}

/* earth */ 
#terrePicture {
    width: 9%; /* 63px au lieu de 83px */
    right: 30%;
    top: 35%;
 }

#terrePicture:hover {
    width: 5%;
}

/* jupiter */
#jupiterPicture {
    width: 17%; /* px au lieu de 176px*/
    right: 20%;
    top: 49%;
}

#jupiterPicture:hover {
    width: 11%;
}

/* uranus */
#uranusPicture {
    width: 10%; /* px au lieu de 95px */
    right: 20%;
    top: 70%;
    transform: rotate(45deg);
}

#uranusPicture:hover {
    width: 6%;
}

/* venus */
#venusPicture {
    /*au lieu de 73px */
    left: 27%;
    top: 27%;
}

#venusPicture:hover {
    width: 4%;
}

/* mars */
#marsPicture {
    /*au lieu de 68x */
    left: 25%;
    top: 43%;
    width: 10%;
}

#marsPicture:hover {
    width: 4%;
}

/* saturne */
#saturnePicture {
    width: 20%; /*au lieu de 146px et 140px */
    left: 20%;
    top: 60%;
}

#saturnePicture:hover {
    width: 9%;
}

/* neptune */
#neptunePicture {
    width: 15%; /*au lieu de 112px */
    left: 20%;
    top: 80%;
}

#neptunePicture:hover {
    width: 7%;
}
