
@import url('../../assets/font/font.css');

@media screen and (min-width: 768px) {

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 0px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif; */
    background-color: #08052B;
}

/* TOP MENU */
#actual {
    font-family: 'RBold', sans-serif;
}

#otherPlanets {
    filter: blur(2px);
}

/* TOP MENU */
header {
    /* grid-column: 1 / -1; */
    padding: 1.5%;
    background-color: transparent;
    /* background-color: grey; */
    /* border-top: #fff 1px; */
    border-bottom: 0.5px solid grey;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

header h1 {
    font-family: 'RBold', 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    font-size: 250%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'RLight', 'Times New Roman', Times, serif;
    font-size: 110%;
    transition: .5s;
}

nav a:hover {
    /* transform: scale(5); */
    font-family: 'Rblack', sans-serif;
    font-size: 120%;
}

nav a:focus {
    font-family: 'Rblack', sans-serif;
    font-size: 120%;
}

/* nav a:hover {
    background: blueviolet;
    filter: blur(4px);
} */


/* --------- */

/* MAIN CONTAINER */

.shape {
    position: absolute;
    z-index: 1;
    top: 18%;
    left: 41%;
    height: 15%;
    width: 35.5%;
    border-top: 2px solid white; 
    border-left: 2px solid white;
    -moz-transform: skew(140deg); 
    -webkit-transform: skew(140deg);
    transform: skew(140deg);
}


.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    margin-bottom: 10%;
}

/* ------ Nouveau right ------ */

.article {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px;
}

.smartphone-title h2 {
    display: none;
}

.desktop-title h2 {
    font-family: 'Rbold';
    font-size: 150%;
    color: white;
    margin-top: 15%; /*éloigné de shape */
    text-align: right;
}

h2, p {
    margin-bottom: 0; /* éloigné entre eux */
}

p {
    color: white;
    text-align: justify;
    display: inline-block;
    font-family: 'Rthin', 'Arial', Helvetica, sans-serif;;
    font-size: 100%;
    margin-bottom: 5%;/* éloigné du tableau */
}

.separationLine {
    border-top: 2px solid white;
}

/* ------- tableau ------- */

th {
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 5%;
    padding-top: 1%;
    text-align: left;
    font-family: 'Rthin', 'Arial', Helvetica, sans-serif;;
    font-size: 90%;
  }
  
  td {
    color: white;
    font-family: 'RBlack', 'Arial', Helvetica, sans-serif;;
    text-align: right;
    padding-bottom: 5%;
    padding-top: 1%;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 150%;
  }
  
  tr:not(:last-child) td {
    border-bottom: 1px solid white;
  }
  
  tr:last-child th {
    border-bottom: none;
    padding-bottom: 5%;
    padding-top: 1%;
  }


/* ------ nouveau left ------ */

#venusDessin {
    width: 40%;
    min-width: 30%;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------ footer ------ */

footer {
    grid-column: 1 / -1;
    background-color: #08052B;
    color: #fff;
    text-align: center;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
}