
@import url('../../assets/font/font.css');

body {
    margin: 0;
    padding: 0;
    background-color: #08052B;
    overflow-x: hidden;
}

/* TOP MENU */
#actual {
    font-family: 'RBold', sans-serif;
}

#otherPlanets {
    filter: blur(2px);
}

/* TOP MENU */
header {
    padding: 1.5%;
    /* background-color: transparent; */
    background-color: rgba(13,9,56, 0.5);
    border-bottom: 0.5px solid grey;
    color: #fff;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

a {
    text-decoration: none;
    color: white;
    align-items: center;
}

header h1 {
    text-decoration: none;
    color: white;
    margin: 0;
    font-family: 'RBold', 'Times New Roman', Times, serif;
    font-size: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    /* white-space: nowrap; */
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

nav ul::-webkit-scrollbar {
    display: none;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'RLight', 'Times New Roman', Times, serif;
    font-size: 90%;
    transition: .5s;
    display: inline-block;
    scroll-snap-align: center;
}



/* --------- */

/* MAIN CONTAINER */



.main-content {
    margin-bottom: 10%;
}

/* ------ Nouveau right ------ */

.article {
    width: 80%;
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* text-align: center; */
    padding: 10%;
}

.smartphone-title h2 {
    font-family: 'Rbold';
    font-size: 200%;
    color: white;
    /* margin-top: 15%; éloigné de shape */
    /* align-items: center;*/
    text-align: center;
    /* right: 50%; */
}

.desktop-title h2 {
    display: none;
}

/* h2 {
    font-family: 'Rbold';
    font-size: 150%;
    color: white;
    margin-top: 15%; 
    text-align: right;
} */

h2, p {
    margin-bottom: 5%; /* éloigné entre eux */
}

p {
    color: white;
    text-align: justify;
    display: inline-block;
    font-family: 'Rthin', 'Arial', Helvetica, sans-serif;;
    font-size: 100%;
    margin-bottom: 15%;/* éloigné du tableau */
    line-height: 1.5;
}

.separationLine {
    border-top: 2px solid white;
}

/* ------- tableau ------- */

th {
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 5%;
    padding-top: 1%;
    text-align: left;
    font-family: 'Rthin', 'Arial', Helvetica, sans-serif;;
    font-size: 90%;
  }
  
  td {
    color: white;
    font-family: 'RBlack', 'Arial', Helvetica, sans-serif;;
    text-align: right;
    padding-bottom: 5%;
    padding-top: 1%;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 120%;
  }
  
  tr:not(:last-child) td {
    border-bottom: 1px solid white;
  }
  
  tr:last-child th {
    border-bottom: none;
    padding-bottom: 5%;
    padding-top: 1%;
  }


/* ------ nouveau left ------ */

#mercureDessin {
    width: 50%;
    /* min-width: 30%; */
    margin-top: 15%;
    /* left: 50%; */
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------ footer ------ */

footer {
    grid-column: 1 / -1;
    background-color: #08052B;
    color: #fff;
    text-align: center;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* } */

