
@font-face {
    font-family: 'RBlack';
    src: url('./Roboto/Roboto-Black.ttf') format(truetype);
}


@font-face {
    font-family: 'Rblacktalic';
    src: url('./Roboto/Roboto-BlackItalic.ttf') format(truetype);
}

@font-face {
    font-family: 'RBold';
    src: url('./Roboto/Roboto-Bold.ttf') format(truetype);
}

@font-face {
    font-family: 'RboldItalic';
    src: url('./Roboto/Roboto-BoldItalic.ttf') format(truetype);
}

@font-face {
    font-family: 'Ritalic';
    src: url('./Roboto/Roboto-Italic.ttf') format(truetype);
}

@font-face {
    font-family: 'Rlight';
    src: url('./Roboto/Roboto-Light.ttf') format(truetype);
}

@font-face {
    font-family: 'RlightItalic';
    src: url('./Roboto/lightItalic') format(truetype);
}

@font-face {
    font-family: 'Rmedium';
    src: url('./Roboto/Roboto-Medium.ttf') format(truetype);
}

@font-face {
    font-family: 'RmediumItalic';
    src: url('./Roboto/Roboto-MediumItalic.ttf') format(truetype);
}

@font-face {
    font-family: 'Rregular';
    src: url('./Roboto/Roboto-Regular.ttf') format(truetype);
}

@font-face {
    font-family: 'Rthin';
    src: url('./Roboto/Roboto-Thin.ttf') format(truetype);
}

@font-face {
    font-family: 'RthinItalic';
    src: url('./Roboto/Roboto-ThinItalic.ttf') format(truetype);
}
